{% extends "core/base.html" %}
{% load static %}
{% block title %}Articles{% endblock %}
{% block content %}
    
    <main class="bg-transparent">
        <hr class="border border-gray-800">
        <nav class="bg-transparent">
            <div class="max-w-screen-xl px-4 py-3 mx-auto">
            <h1 class="text-center font-bold text-3xl mb-2 text-white">NBA RELATED ARTICLES</h1>
                <div class="flex items-center">
                    <form method="get" action="{% url 'latest_articles' %}" class=" rounded-2xl m-2 p-4">
                        <div class="gap-2 flex items-center justify-center text-white text-xl rounded-2xl">
                            <label for="team"></label>
                            <select name="team" id="team" class="bg-gray-800">
                                <option value="">All</option>
                                <option value="lakers">Los Angeles Lakers</option>
                                <option value="warriors">Golden State Warriors</option>
                                <option value="rockets">Houston Rockets</option>
                                <option value="celtics">Boston Celtics</option>
                                <option value="nets">Brooklyn Nets</option>
                                <option value="knicks">New York Knicks</option>
                                <option value="sixers">Philadelphia 76ers</option>
                                <option value="raptors">Toronto Raptors</option>
                                <option value="bulls">Chicago Bulls</option>
                                <option value="cavaliers">Cleveland Cavaliers</option>
                                <option value="pistons">Detroit Pistons</option>
                                <option value="bucks">Milwaukee Bucks</option>
                                <option value="heat">Miami Heat</option>
                                <option value="hawks">Atlanta Hawks</option>
                                <option value="hornets">Charlotte Hornets</option>
                                <option value="pacers">Indiana Pacers</option>
                                <option value="magic">Orlando Magic</option>
                                <option value="wizards">Washington Wizards</option>
                                <option value="nuggets">Denver Nuggets</option>
                                <option value="timberwolves">Minnesota Timberwolves</option>
                                <option value="blazers">Portland Trail Blazers</option>
                                <option value="jazz">Utah Jazz</option>
                                <option value="thunder">Oklahoma City Thunder</option>
                                <option value="mavericks">Dallas Mavericks</option>
                                <option value="spurs">San Antonio Spurs</option>
                                <option value="pelicans">New Orleans Pelicans</option>
                                <option value="suns">Phoenix Suns</option>
                                <option value="clippers">Los Angeles Clippers</option>
                                <option value="kings">Sacramento Kings</option>
                            </select>
                            <button type="submit" value="Submit" class="text-white p-1 cursor-grabbing">Filter</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav> 
        <div class=" flex flex-col gap-3 m-3 md:grid md:grid-cols-2 lg:grid-cols-3">
            {% for article in articles %}
                <section class="flex flex-colum text-zinc-50 bg-slate-800 p-2 rounded-2xl">
                    <div class="flex flex-col items-start gap-2 p-3">
                        <h1 class="mb-4 text-4xl tracking-tight font-bold text-white">{{article.title}}</h1>
                        <div class="flex gap-1 items-center">
                            <p class="mb-4 text-2xl"> Source {{article.source}} |</p>
                            <a class="mb-4 text-emerald-400 hover:underline text-2xl italic" href="{{article.url}}" target="_blank">See the article</a>
                        </div>
                    </div>
                </section>
            {% empty %}
                <section class="bg-transparent">
                    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
                        <div class="font-light text-zinc-50 text-xl">
                            <p class="mb-4">{{franchise.name}} There are not notices to show</p>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>
        
    </main>
{% endblock %}