{% extends "core/base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<div class="flex flex-col justify-center items-center min-h-screen">
    <div class="flex flex-col justify-start items-start gap-5 mt-3 m-4 p-5 bg-slate-800 text-zinc-50 rounded-xl md:max-w-100">
        <div class="flex gap-4 ">
            <img class="max-w-10 max-h-10 rounded-full" src="{% static 'core/img/Foto-Ekaitz.jpg' %}" alt="Foto Ekaitz">
            <div class="flex flex-col gap-2">
                <h1 class="text-emerald-400 font-bold">Ekaitz Martin</h1>
                <h2 class="font-osw">Software Developer & Creator of Iconic Buquets</h2>
            </div>
        
        </div>
        
        <div class="">
            <p>Hi!, Ekaitz here.</p>
            <p class="pb-2 font-osw">I’ve been a sports enthusiast my entire life, but a few years ago, I started watching and following the NBA. 
                After witnessing some amazing games and incredible players, I became more and more interested in the game. My desire to 
                learn more about the league kept growing. That’s why I created this website — to share with all of you the kind of place 
                I wish I had when I first started enjoying the game: a space that brings together some of the most iconic moments in NBA history.
            </p>
            <p class="pb-2">Hope you enjoy!</p>
        </div>
    </div>
</div>
    
{% endblock %}