{% extends "core/base.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="flex items-center justify-center mt-20 mb-20 gap-12">
        <div class="text-center shadow-2xl w-64 h-64 rounded-xl bg-white">
            <div class="mt-12">
                <h2 class="text-3xl p-3 font-sans font-semibold">Mail</h2>
                <a class="" href="mailto:ekamartinc2003@gmail.com">ekamartinc2003@gmail.com</a>
            </div>
        </div>
        <div class="text-center shadow-2xl w-64 h-64 rounded-xl bg-white">
            <div class="mt-12">
                <h2 class="text-3xl p-3 font-sans font-semibold">Phone Number</h2>
                <p> +34 688637912 </p>
            </div>
        </div>
    </div>
    
    
{% endblock %}

