{% extends "core/base.html" %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}
    <div class="flex items-center justify-center mt-20 mb-20 gap-12">
        <div class="text-center">
            <h2 class="text-3xl p-3 font-sans font-semibold">Mail</h2>
            <div class="text-center shadow-2xl w-64  rounded-xl bg-white hover:bg-slate-100 transition transform duration-150 ease-in-out active:scale-95">
                 <a class="block w-full h-full z-1" href="mailto:ekamartinc2003@gmail.com">ekamartinc2003@gmail.com</a>
            </div>
        </div>
        <div>
            <h2 class="text-3xl p-3 font-sans font-semibold">Phone Number</h2>
            <div class="text-center shadow-2xl w-64  rounded-xl bg-white">
                <p> +34 688637912 </p>
            </div>
        </div>
    </div>
    
    
{% endblock %}

