{% extends 'core/base.html'%}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
<div class="m-10">
    <div class="flex flex-col justify-center items-center text-center gap-12 md:grid md:grid-cols-3 m-5 md:m-10">
        <div><h1 class="text-2xl md:p-5 ">Step into NBA fans' territory</h1></div>
        <div><img class="rounded-2xl object-contain lg:ml-10" src="{% static 'core/img/kobe-trophy.jpg' %}" alt="foto-koby"></div>
        <div class=""><h2 class="text-2xl md:m-5 w-full">Where greatness lives through iconic plays, buckets, and stories from the world's greatest league.</h2></div>
    </div>
</div>
{% endblock %}