{% extends 'core/base.html'%}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}

<div class="grid grid-cols-3 items-center  gap-3 p-6 text-balance tracking-tighter ">
    <h1 class="font-mono text-4xl pt-2">Step into NBA fans' territory</h1>
    <img class="rounded-2xl max-h-screen object-contain" src="{% static 'core/img/kobe-trophy.jpg' %}" alt="">
    <h2 class="font-mono text-2xl">Where greatness lives through iconic plays, buckets, and stories from the world's greatest league.</h2>
</div>
{% endblock %}