{% extends 'core/base.html' %}
{% load static %}
{% block title %}Posts{% endblock %}
{% block content %}
    
    <section class="bg-transparent">
        <div class="max-w-2xl px-4 py-8 mx-auto lg:py-16">
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Update Post</h2>
            <form class="p-4" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                    <div class="sm:col-span-1">
                        <label for="franchise" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Franchise</label>
                        {{form.franchise}}
                    </div>
                    <div class="w-full">
                        <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                        {{form.title}}
                    </div>
                    <div>
                        <label for="link" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Link</label>
                        {{form.link}}
                    </div>
                    <div class="sm:col-span-1">
                        <label for="Author" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Author</label>
                        {{form.author}}
                    </div> 
                    <div class="sm:col-span-1">
                        <label for="Category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categories</label>
                        {{form.categories}}</p>
                    </div>
                    <div class="w-full">
                        <label for="Image" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Img</label>
                        <p class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">{{form.img}}</p>
                    </div>
                    <div class="sm:col-span-1">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                        <p class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">{{form.description}}</p>
                    </div>

                </div>
                <div class="flex items-center space-x-4">
                    <input type="submit" value="Update Form" class="text-white text-center justify-center border-slate-700 bg-slate-800 hover:bg-slate-700 hover:border-slate-800 mt-2 p-1 w-full rounded-sm transition transform duration-150 ease-in-out active:scale-95">
                </div>
            </form>
        </div>
        {{form.errors}}
    </section>
{% endblock %}