{% extends 'core/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block content %}
    <div class="ml-32">
        <h1 class="text-4xl mt-14 mb-2">Password reset sent</h1>
        <p class="text-xl mb-2">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p class="text-xl mb-14">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
{% endblock %}   