{% extends 'core/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<style>.errorlist{color: red;}</style>
<div class="p-2 mx-auto max-w-130 mt-20 h-48 mb-30">
    <h1 class="text-4xl mb-2 font-semibold">Enter new password</h1>
    <p class="text-xl mb-2">Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="post" action="">{% csrf_token %}
        <input class="hidden" autocomplete="username" value="pepito">
        <input type="password" name="new_password1" autocomplete="new-password" 
        required aria-describedby="id_new_password1_helptext" id="id_new_password1" 
        placeholder="Password" class="bg-slate-100 border-2 border-balck rounded sm p-1 mb-2 w-full">
        <p class="text-help text-red-600">{{form.new_password1.errors}}</p>
        <input type="password" name="new_password2" autocomplete="new-password" 
        required aria-describedby="id_new_password2_helptext" 
        id="id_new_password2" placeholder="Repeat your password" class="bg-slate-100 border-2 border-balck rounded sm p-1 mb-2 w-full">
        <p>{{form.new_password2.errors}}</p>
    <div class="">
        <input type="submit" value="Change my password" class="bg-blue-400 text-white w-full mt-2 p-1 border-2 border-blue-500 hover:bg-blue-500 hover:border-blue-600">
    </div>
    </form>
</div>
{% endblock %}