{% extends 'core/base.html' %}
{% load static %}
{% block title %}Password Change{% endblock %}
{% block content %}
    <style>.errorlist{color:red;} label{display:none}</style>
    <form class="" action="" method="post">{% csrf_token %}
        <div class="p-2 mx-auto max-w-96 my-20">
            <h3 class="text-4xl mb-2">Password Change</h3>
            <input class="bg-slate-100 rounded-sm p-1 border-2 border-black w-full mb-2" type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" placeholder="Old password">
            <input class="bg-slate-100 rounded-sm p-1 border-2 border-black w-full mb-2" type="password" name="new_password1" autocomplete="new-password" required aria-describedby="id_new_password1_helptext" id="id_new_password1" placeholder="New password">
            <div class="help" id="id_new_password1_helptext">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </div>
            <input class="bg-slate-100 rounded-sm p-1 border-2 border-black w-full mb-2" type="password" name="new_password2" autocomplete="new-password" required aria-describedby="id_new_password2_helptext" id="id_new_password2" placeholder="Repeat your password">
            <button action="submit" value="Submit" class="border-2 border-slate-700 bg-slate-800 hover:bg-slate-700 hover:border-slate-800 text-white font-bold p-2 mt-2 transition transform duration-150 ease-in-out active:scale-95">Enter</button>
        </div>
    </form>

    
{% endblock %}