{% extends 'core/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="p-2 mx-auto max-w-130 mt-20 h-48 mb-30">
    <h1 class="text-4xl mb-2 font-semibold">Password reset complete</h1>
    <p class="text-xl mb-2">Your password has been set.  You may go ahead and log in now.</p>
    <div class="text-center justify-center border-slate-700 bg-slate-800 hover:bg-slate-700 hover:border-slate-800 mt-2 p-1 w-full rounded-sm transition transform duration-150 ease-in-out active:scale-95">
        <a class="block w-full h-full text-2xl text-white" href="{% url 'login' %}">Profile</a>
    </div>
</div>
{% endblock %}